

<div class="login-box">
    <h2>Login</h2>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="user-box">
            <input formControlName="email" class="input" type="text" id="email" required="">
            <label class="label" for="email">Email</label>
        </div>
        <!-- /.user-box -->
        <div class="user-box">
            <input formControlName="password" class="input" type="password" id="password" required="">
            <label class="label" for="password">Password</label>
        </div>
        <!-- /.user-box -->
        <button type="submit" [disabled]="loginForm.invalid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Accedi
        </button>
    </form>
<!-- /form -->
</div>
<!-- /.login-box -->
  